body{
    background-color: #b6b27b;
}
h1{
    background-color: #9fd8df;
    color:#26001b;
    text-align: center;
}
h2{
    text-align: left;
}
img{
    width: 150px;;
    height: 100;;
}
p{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }



